* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --desaturatedCyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --darkCyan: hsl(168, 34%, 41%);
  --desaturatedBlue: hsl(212, 27%, 19%);
  --darkGrayishBlue: hsl(213, 9%, 39%);
  --grayishBlue: hsl(232, 10%, 55%);
  --grayishDesaturatedBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --whiteYellow: #fffbf8;
}
body {
  font-size: 18px;
}
header {
  background-image: url(./images/desktop/image-header.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 34px 40px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0px;
  height: 56px;
  align-items: center;
}
.header-nav .label-nav {
  visibility: hidden;
}
.header-nav input {
  visibility: hidden;
}
.header-nav nav {
  display: flex;
  align-items: center;
}
.header-nav img {
  height: 34px;
}
.header-nav nav a {
  font-family: "Barlow", sans-serif;

  margin-right: 48px;
  color: var(--white);
  text-decoration: none;
}
.header-nav nav .a-last {
  font-family: "Fraunces", serif;
  font-size: 15px;
  margin-right: 8px;
  padding: 19px 30px;
  text-transform: uppercase;
  background-color: var(--white);
  color: var(--desaturatedBlue);
  border-radius: 100px;
}
.header-nav nav .a-last:hover {
  background-color: #fffbf867;
}
.header-image {
  position: absolute;
  top: 358px;
  left: 50%;
  transform: translate(-50%, 0%);
}
h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--white);
  text-align: center;
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-top: 103px;
}

/* body */
.section-info article {
  display: flex;
}
.section-info article div {
  padding-top: 159px;
  padding-left: 166px;
  padding-right: 95px;
  width: 50%;
  background-color: var(--whiteYellow);
}
.section-info article h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  color: var(--desaturatedBlue);
}
.section-info article p {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  color: var(--darkGrayishBlue);
  margin-top: 31px;
  line-height: 30px;
  margin-bottom: 40px;
}
.section-info article a {
  color: var(--desaturatedBlue);
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 10px;
}
.section-info article img {
  width: 50%;
}
.section-info .stand-out div {
  padding-top: 157px;
  padding-left: 110px;
  padding-right: 95px;
}
.section-info .graphic-photo div {
  text-align: center;
  padding: 0px 160px;
  padding-top: 400px;
}

.graphic-photo .graphic {
  background-image: url(./images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.graphic-photo .graphic h2 {
  color: var(--desaturatedCyan);
  font-size: 27px;
  font-weight: 900;
  text-transform: capitalize;
}
.graphic-photo .graphic p {
  color: var(--desaturatedCyan);
  margin-top: 27px;
  line-height: 27px;
}
.graphic-photo .photo {
  background-image: url(./images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.graphic-photo .photo h2 {
  color: var(--darkBlue);
  font-size: 27px;
  font-weight: 900;
}
.graphic-photo .photo p {
  color: var(--darkBlue);
  margin-top: 27px;
  line-height: 27px;
}
/*testimonials*/
.testimonials {
  padding-top: 161px;
  min-height: 777px;
  height: 800px;
  background-color: var(--whiteYellow);
}
.testimonials h2 {
  font-size: 20px;
  letter-spacing: 5px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: var(--grayishDesaturatedBlue);
}
.testimonials-group {
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 80px;
  justify-content: space-between;
}
.testimonial {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial img {
  width: 72px;
  border-radius: 100px;
}
.testimonial p {
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: var(--darkGrayishBlue);
  line-height: 32px;
  margin-top: 59px;
}
.testimonial p span {
  color: var(--desaturatedBlue);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
}
.testimonial .name {
  font-size: 16px;
  margin-top: 64px;
}
.gallery {
  display: flex;
}
.gallery img {
  width: 25%;
}

/*footer*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #90d4c5;
}
footer svg {
  margin-top: 40px;
}
.footer-logo {
  filter: invert(27%) sepia(100%) saturate(10078%) hue-rotate(167deg)
    brightness(64%) contrast(77%);
  width: 170px;
  margin-top: 73px;
}
footer div {
  margin-top: 42px;
  font-family: "Barlow", sans-serif;
}
footer div a {
  text-decoration: none;
  color: var(--darkCyan);
  margin: 0px 26px;
}
footer div a:hover {
  color: var(--white);
}
footer .social {
  margin-top: 50px;
  margin-bottom: 72px;
}
footer .social a {
  margin: 0px 12px;
}
footer .social a:hover path {
  fill: var(--white);
}
/*
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    700 900 
*/
@media (max-width: 1220px) {
  header {
    padding-left: 22px;
    padding-right: 22px;
  }
  header .header-nav {
    position: relative;
  }
  .header-nav .label-nav {
    visibility: visible;
  }
  header .header-nav input {
    visibility: hidden;
  }
  header .header-nav input ~ nav {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }
  header .header-nav input:checked ~ nav {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
  }
  .label-nav {
    width: 26px;
    height: 19px;
  }
  .label-nav img {
    width: 100%;
    height: 100%;
  }
  .header-nav nav::before {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px;
    border-color: var(--white) transparent transparent transparent;
    position: absolute;
    top: -20px;
    right: 0;
    rotate: 90deg;
  }
  .header-nav nav {
    z-index: 10;
    position: absolute;
    background-color: var(--white);
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 72px;
  }
  .header-nav nav a {
    color: var(--grayishDesaturatedBlue);
    margin: 0;
    margin-top: 42px;
  }
  .header-nav nav .a-last {
    margin: 0;
    margin-top: 42px;
    margin-bottom: 39px;
    background-color: var(--yellow);
  }

  /*section-info*/
  .section-info article {
    flex-direction: column;
  }
  .section-info article div {
    width: 100%;
  }
  .section-info article img {
    width: 100%;
  }
  .section-info .transform div {
    height: 437px;
    padding: 70px 30px;
    text-align: center;
    order: 1;
  }
  .section-info .stand-out div {
    height: 437px;
    padding: 70px 30px;
    text-align: center;
  }

  /*testimonios*/
  .testimonials {
    height: auto;
    padding: 0;
    padding-top: 68px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 90px;
  }
  .testimonials-group {
    flex-direction: column;
  }
  .testimonials-group .testimonial {
    max-width: max-content;
  }

  /*gallery*/
  .gallery {
    flex-wrap: wrap;
  }
  .gallery img {
    width: 50%;
  }
}
